/* *{
    box-sizing: border-box;
}

a{
    color: #fff;
    font-weight: bold;
} */



*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-image: url("../img/moroccan-flower.png");
}
body .main .container {
    background: #fff;
}

header{
    background: rgb(237,27,36);
}

.title{
    padding-top: 50px;
    text-align: center;
    color: rgb(237,27,36);
}

h3{
    font-size: 24px;
    border-bottom: 1px solid #9e9e9e;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.menu-user{
    padding: 10px;
    margin-top: 25px;
}

    .menu-user a{
        color: #fff;
        text-decoration: none;
    }

        .menu-user a .fa-inverse{
            color: rgb(0, 0, 0);
        }
       

.img-user{
    width: 260px;
    height: 260px;
    border-radius: 150px;
    margin-bottom: 20px;
}

/* Formulario */

.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}


.formulario__grupo-input{
    position: relative;
}

.formulario__input{
    width: 100%;
    background: #fff;
    border: 3px solid rgb(150, 150, 150);
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__rol-select{
    width: 100%;
    background: #fff;
    border: 3px solid rgb(150, 150, 150);
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__rol-select:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo{
    display: block;
    color: #000 bold;
}

.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100%;
    font-size: 18px;
    opacity: 0;
}

.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__mensaje p{
    margin: 0;
}

.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn{
    line-height: 45px;
    width: 30%;
    background: #0075ff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario__btn1{
    line-height: 45px;
    width: 30%;
    background: #0075ff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    margin-top: 20px;
    margin-bottom: 50px;
}

.formulario__btn:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito{
    font-size: 12px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo{
    display: block;
}
.btn-options{
    line-height: 45px;
    width: 100%;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    margin-top: 10px;
}

.btn-option{
    margin-top: 20px;
    width: 50%;
    font-weight: bold;
}

.btn-end{
    margin-bottom: 20px;
}

a{
    color: #fff;
    font-weight: bold;
}
/* footer */
footer{
    background-color: rgb(237,27,36);
    color: #fff;
    font-size: 12px;
    padding: 10px 0;

}
    footer ul{
        margin-bottom: 0;
    }

    footer a:hover {
        color: #000;
    }



    .mar__top-80{
        margin-top: 80px;
    }

    .mar__top-50{
        margin-top: 30px;
    }

    /* PROPERTIES */

    .cover_pro{
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-top: 25px;
    }
    
    .card_pro{
        align-items: center;
        border-radius: 40px;
        border-color: #fff;
    }
    
    .card_p{
        text-align: center;
    }

    .tl{
        text-align: center;
    }