{% extends 'layoutHost.html' %}


{% block title %}Host - Area{% endblock %}

{% block body %}

<div class="main mar__top-80">
    <div class="container">
    
        <h1>Properties</h1>
       
        {% if data_user.rol == "host" %}
        <div class="row">
            {% for propertie in properties %}
                {% if propertie.idUSer == id %}
                <div class="col-md-4">
                    <div class="card card_pro">
                        <div class="">
                            <img src="{{url_for('static', filename='img/usersProfile/'+propertie.cover)}}" alt="" class="cover_pro">                        
                        </div>                      
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{propertie.city}} - {{propertie.country}} </strong> </h5>
    
                            {% if propertie.status == True %}
                            <div class="alert alert-success" role="alert">
                                <p class="card-text card_p"><strong>Disponible</strong></p>
                            </div>
                            {% else%}
                            <div class="alert alert-danger" role="alert">
                                <p class="card-text card_p"> <strong>Reservada</strong></p>
                            </div>
                            {% endif %}

                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-warning">EDITAR</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-danger">ELIMINAR</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif%}

        {% if data_user.rol == "invited" %}

        <div class="row">
                
            {% for propertie in properties %}              
            <div class="col-md-4">
                <div class="card card_pro">
                    <div class="">
                        <img src="{{url_for('static', filename='img/usersProfile/'+propertie.cover)}}" alt="" class="cover_pro">                        
                    </div>                      
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{propertie.city}} - {{propertie.country}} </strong> </h5>

                        {% if propertie.status == True %}
                        <div class="alert alert-success" role="alert">
                            <p class="card-text card_p"><strong>Disponible</strong></p>
                        </div>
                        {% else%}
                        <div class="alert alert-danger" role="alert">
                            <p class="card-text card_p"> <strong>Reservada</strong></p>
                        </div>
                        {% endif %}

                        <a href="#" class="btn btn-primary card_p">Ver más</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        {% else %}

        <div class="alert alert-info" role="alert">
            <p class="card-text  tl"> <strong>Aun no registra propiedades</strong></p>
        </div>

        {% endif%}

    </div>
</div>
{% endblock %}