{% extends 'layout.html' %}

{% block body %}

<div class="container">

    <h1>Users</h1>
    <div class="row">
        {% for user in allusers %}
        <div class="col-md-4">
            <div class="card card-user" style="width: 18rem;">
                <div class="user-image">
                    <!-- <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span> -->
                    <img src="{{user.avatar}}" alt="" class="img-user">
                </div>                  

                <div class="card-body">
                    <h5 class="card-title"><strong>User: {{user.name}}</strong> </h5>
                    <p class="card-text"><strong>E-Mail:</strong> {{user.email}}</p>
                    <p class="card-text"><strong>Country:</strong> {{user.country}}</p>
                    <p class="card-text"><strong>City:</strong> {{user.city}}</p>
                    <p class="card-text"><strong>Rol:</strong> {{user.rol}}</p>
                    <a href="#" id="goPerfil" class="btn btn-primary">Ver Perfil</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    {% endblock %}